.news-card
  overflow: hidden
  max-width: 1000px
  max-height: 600px
  margin-block: 10px
  background-color: #FAF9F6

.avatar
  background-color: #A1887F
  padding: 8px
  color: white

.avatar > h2
  aspect-ratio: 1
  text-align: center
  margin-block: auto

.card-img
  max-width: 400px
  max-height: 400px

.card-actions
  margin-top: 12px
  background-color: #A1887F

.likes
  margin-right: 20px
  cursor: pointer

.chats
  margin-right: 50px
  cursor: pointer
