<div id="newsFeed" class="" *ngIf="newsList && newsList.length">
    <div *ngFor="let newsItem of newsList | displaynews">
      <!-- <h2>{{ newsItem.publisherName }}</h2>
      <img *ngIf="newsItem.content.image" [src]="newsItem.content.image" alt="Image">
      <p>{{ newsItem.content.text }}</p>
      <p>Comments: {{ newsItem.comment.length }}</p>
      <p>Likes: {{ newsItem.likedIdList.length }}</p> -->
      <!-- Using Ng card to display each story -->
      <mat-card class="news-card">
        <mat-card-header>
          <div class="avatar" mat-card-avatar>{{ newsItem.publisherName[0].toUpperCase() }}</div>
          <mat-card-title>{{ newsItem.publisherName }}</mat-card-title>
          <mat-card-subtitle>{{ newsItem.publishedTime }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content" *ngIf="newsItem.content">
          <p *ngIf="newsItem.content.text">{{ newsItem.content.text }}</p>
          <img class="card-img" mat-card-image *ngIf="newsItem.content.image" [src]="newsItem.content.image" alt="">
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <a><mat-icon svgIcon="fav-icon"></mat-icon></a>
          <span class="likeNum">{{ newsItem.likedIdList.length }}</span>
          <a><mat-icon svgIcon="chat-icon"></mat-icon></a>
          <span class="ChatNum">{{ newsItem.comment.length }}</span>
        </mat-card-actions>
      </mat-card>
      <hr>
    </div>
  </div>
