<div id="newsFeed" class="" *ngIf="userNewsList && userNewsList.length">
  <div *ngFor="let newsItem of userNewsList">
    <mat-card class="news-card">
      <mat-card-header>
        <div class="avatar" mat-card-avatar>
          <!-- <h2>{{ newsItem.publisherName[0].toUpperCase() }}</h2> -->
        </div>
        <mat-card-title class="text">{{ newsItem.publisherName }}</mat-card-title>
        <mat-card-subtitle>{{ newsItem.publishedTime }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-content" *ngIf="newsItem.content">
        <p *ngIf="newsItem.content.text" class = "text">{{ newsItem.content.text }}</p>
        <img mat-card-image class="card-img" *ngIf="newsItem.content.image" [src]="newsItem.content.image" alt="">
        <video>
          <source *ngIf="newsItem.content.video" [src]="newsItem.content.video">
        </video>
      </mat-card-content>
      <mat-card-actions class="card-actions" align="end">
        <div class="likes">
          <a class="likeIcon"><mat-icon svgIcon="fav-icon"></mat-icon></a>
          <b class="likeNum">{{ newsItem.likedIdList.length }}</b>
        </div>
        <div class="chats">
          <a><mat-icon svgIcon="chat-icon"></mat-icon></a>
          <b class="ChatNum">{{ newsItem.comment.length }}</b>
        </div>
      </mat-card-actions>
    </mat-card>
    <hr>
  </div>
</div>