// #sidebar
//   width: 400px
//   height: 100%
//   background-color: #A1887F

// .nav-item > a
//   color: white

// .nav-pills .nav-link.active
//     background-color: #D9D9D9
// .sidebar-content
//   padding:24px

// mat-sidenav-container
//   height: 100%

// mat-sidenav
//   width:400px
//   background-color: #A1887F

// mat-nav-list > a
//   color: white

// mat-list-item.active
//   background-color: #D9D9D9

// .sidenav-container
//   height: 100%

//   .sidenav
//     width:200px
//     background: #A1887F

//     .logo
//       padding-top: 24px
//       text-align: center
//       background: #A1887F
      
//       img
//         border-radius: 100%
//         height: 100px
        

.sidenav-container {
  height: 100%;
  .sidenav {
    width: 250px;
    background: #A1887F; 
    .logo {
      padding-top: 24px;
      text-align: center;
      background: #A1887F;
      
      img{
        border-radius: 100%;
        height: 100px;
      }
    }
    .navlist {
      mat-list-item{
        margin-top: 20px;

        span {
          font-size: 24px;
          color: white;
          &:hover {
            color: #555;
          }
        }
      }
    }
  }


}