.sidenav-container {
  height: 100%;
  .sidenav {
    width: 250px;
    background: #A1887F; 
    .logo {
      padding-top: 24px;
      text-align: center;
      background: #A1887F;
      
      img{
        border-radius: 100%;
        height: 100px;
      }
    }
    .navlist {
      mat-list-item{
        margin-top: 20px;

        span {
          font-size: 24px;
          color: white;
          &:hover {
            color: #555;
          }
        }
      }
    }
  }


}